<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Multiplication Quiz</title>
  <meta name="description" content="Simple quiz to practice times tables">
  <meta name="author" content="ylixir">
</head>

<body>
  <main>You must have javascript enabled for this page to work</main>

  <script type="application/javascript">
{{elmcode}}
  </script>

  <script type="application/javascript">
    var app = Elm.Main.init({ node: document.querySelector('main') })
  </script>
</body>
</html>